@import url("bootstrap");
@import url();

.col{
  a{
    padding-left: 10px;
    text-decoration: none;
    color: white;
  }
}

.upper-footer{
  background-image: url(./assets/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.shopping-images{
  width: 62px;
  height: 75px;
}

.pages{
  text-decoration: none;
  color: black;
  align-items: center;
  &:hover{
    color: dodgerblue;
    border-bottom: 2px solid dodgerblue;
  }
}

.list-title{
  font-weight: 800;
  font-size: 20px;
}

#bigger-logo{
  position: relative;
  z-index: 0;
}